

:root{
    --color1: #D662EB;
    --color2: rgb(255, 255, 255);
    --color3: #D662EB;
    --color4: #0c0c0c;




}

@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Black.eot");
    src:local("☺"),url("fonts/Montserrat-Black.woff") format("woff"),url("fonts/Montserrat-Black.ttf") format("truetype"),url("fonts/Montserrat-Black.svg") format("svg");
    font-weight:900;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Bold.eot");
    src:local("☺"),url("fonts/Montserrat-Bold.woff") format("woff"),url("fonts/Montserrat-Bold.ttf") format("truetype"),url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight:700;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Regular.eot");
    src:local("☺"),url("fonts/Montserrat-Regular.woff") format("woff"),url("fonts/Montserrat-Regular.ttf") format("truetype"),url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:'Montserrat';
    src:url("fonts/Montserrat-Light.eot");
    src:local("☺"),url("fonts/Montserrat-Light.woff") format("woff"),url("fonts/Montserrat-Light.ttf") format("truetype"),url("fonts/Montserrat-Light.svg") format("svg");
    font-weight:300;
    font-style:normal
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--color4);
    font-family:sans-serif !important;

    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

.topcontainer{
    position: absolute;
    font-family:monospace, monospace;
    font-weight: 900;
    text-align: center;
    align-items: center;
    top: 0%;
    width: 100%;
    height: 100vh;
    background-color: var(--color4);
    color: var(--color2) !important;
}


.topcontainer h1{
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto 0 auto;
    text-align: center;
    background-color: var(--color3);
    color: var(--color2) !important;
}
.title{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 100px;
    width: 500px;
    font-weight: 900;
}
.topcontainer img{
    width: 750px;
    height: 500px;
    object-fit: cover;
    background-color: var(--color5);
    border-radius: 20px;
    margin-top: 10px;
}

.topcontainer .btn{

    padding: 10px;
    border-radius: 20px;
    color: var(--color2);
    margin-left: 5%;
    margin-right: 5%;
    bottom: 2%;
    position: relative;
    width: 250px;
    font-size: 30px;
    
    transition: all 0.8s;
}
.topcontainer .btn:hover{
    background-color: var(--color1);
    margin: 10px 30px 10px 30px;
}
.topcontainer .home{

    padding: 10px;  
    color: var(--color2);
    top: 2%;
    width: 250px;
    font-size: 30px;
    left: 1%;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.8s;
}

.back{
    left: 1%;
}
.next{
    right: 1%;
}
.toppp{
    width: 100%;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    padding: 10px;
    background-color: var(--color4);
    z-index: 2000;
}
.buttons{
    margin-top: 200px;
}


.line{
    position: absolute;
    border-bottom: 15px solid var(--color5);
    width: 100%;
    bottom: 0;
}

.half-circle p{
    align-items: center;

    justify-content: center;
    margin-top: 25%;

}
.half-circle:hover{
    color: var(--color6) !important;
}
.window{
    background-color: var(--color5);
    width: 100%;
    margin-top: 5%;
    height: 100%;
    position: relative;
}
.textwindow{
    width: 50%;
    background-color:var(--color6);
    -webkit-box-shadow: 0px 0px 32px 5px #000000; 
    box-shadow: 0px 0px 32px 5px #000000;
    float: left;
    color: var(--color6);
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    padding: 10px;
}
.textwindow p{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.textwindow h1{
    text-align: center;
    font-weight: bold;
    font-weight: 900;
    width: 50%;
    font-size: 100%;
}
.imagewindow{
    float: left;
    width: 45%;
    display: inline-flex;
    position: relative;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
 
}
.imagewindow img{
    width: 70%;
    object-fit: cover;
    height: auto;
    margin-top: 2%;
}
.imagewindow iframe{
    width: 800px;
    height: 600px;
}

h3{
    font-size: 200px;
}

/* MobileVersion */
@media(max-width: 800px){
    html{
        overflow-x: hidden !important;
        width: 100%;
    }
    .imagewindow{
        float: none !important;
        position: relative;
        width: 100% !important;
    }
    .textwindow{
        float: none !important;
        width: 100% !important;
    }
    img{
        width: 100% !important;
        height: 75% !important;
    }
    .topcontainer h1{
        width: 50% !important;
        font-size: 20px !important;
    }
    .window{
        position: relative !important;
    }
}


