@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
/* CSS HEX */
--charcoal: #2A4C58ff;
--hunter-green: #3E5536ff;
--columbia-blue: #C2DBEAff;
--alice-blue: #E2EEF6ff;
--morning-blue: #819F9Dff;
}

*{
    margin: 0;
    padding: 0;
}
ul{
    padding:0;
}
body {
    overflow-x: hidden;
}

.title{
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    margin-left: 10px;
}
.TopContainer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        var(--charcoal),
        rgba(232, 168, 124, 0.4), 
        var(--charcoal)
        ),
    url('../images/Background-top.png') center no-repeat;
    background-size: cover;
    min-height: 500px;
}
nav{
  background-color: rgba(129, 159, 157, 0.4);
      color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.navbar{
    height: 10%;
    position: fixed;
    width: 100%;
    z-index: 20000 !important;
}
/*
.navbar{
    -webkit-box-shadow: 1px 37px 38px 20px rgba(62, 85, 54, 0.66) !important; 
    box-shadow: 1px 37px 38px 20px rgba(62, 85, 54, 0.66) !important;
}
*/
nav .mainMenu{
    display: inline-flex;
    list-style: none;
    margin: 0%;
    margin-right: 1%;
    padding: 1%;

}
nav .mainMenu li a{
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 4vh;
    line-height: 1.5vh;
    padding-left: 5px;
    padding-right: 5px;

}
nav .mainMenu li a:hover{
    background-color: rgb(255, 94, 0);
}
nav .title{
  font-size: 4vh;
  line-height: 1.5vh;
    cursor: pointer;
}

nav .hamburger-menu{
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.hamburger-menu{
    width: 35px;
    cursor: pointer;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav .hamburger-menu{
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.line{
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: all 0.8s;
    background-color: var(--morning-blue);
}
.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);

}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}


/*Center Image and text*/

.centercontainer{
    width: 100%;
    height: auto;
    padding-top: 10%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.imagecontainer{
    width: 50%;
    height: 100%;
    left: 50%;
    margin-left: -25%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.imagecontainer img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
}
.centercontainer .titletext{
    padding: 1%;
    border-radius: 20px;
    background-color: rgba(129, 159, 157, 0.4);
    width: 50vh;
    margin-left: auto;
    margin-right: auto;
    color: white;
    overflow: hidden;
}
.titletext h1{
  font-size: 4vh;
  line-height: 1.5vh;
}

.text1 {
  animation: text1;
}
.text2 {
  animation: text2;
}

.text1, .text2 {
  
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  text-align: center;
}


@keyframes text2 {
  0%, 50%, 100% {
    width: 1px;
    opacity: 0;
  }
  
  60%, 90% {
    width: 60%;
    opacity: 1;
  }
}
@keyframes text1 {
  0%, 50%, 100% {
    width: 1px;
    opacity: 0;
  }
  10%, 40% {
    width: 60%;
    opacity: 1;
  }
}


/*Scroll icon*/

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;

}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  bottom: 1%;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

/* MobileVersion */
@media(max-width: 800px){

  html,body{
    width: 100%;
    overflow-x: hidden;
  }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: -100%;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: flex;
        transition: cubic-bezier(1s, 0s, 0s 1s);
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    nav .hamburger-menu {
        font-size: 20px;
        display: flex !important;
        cursor: pointer;
        color: #E2EEF6;
        z-index: 11;
        top: 0px;

        margin: 0px;
        margin-right: 10px;
    }
    .navbar{
        position: fixed;
        width: 100%;
        z-index: 11;
        text-align: center;
        margin: 0%;
    }
    .navbar .title h1{
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
    }
    .centercontainer{
        padding-top: 30vh;
    }
    .AboutmeContainer{
      height: 170vh !important;
    }
    .AboutmeContainer .left img{
      height: 50%;
    }
    .AboutmeContainer .right{
      align-items: center;
      justify-self: center;
    }
    .AboutmeContainer .right p{
      font-size: 1.3vh;
      line-height: 1.4vh;
    }
    .AboutmeContainer .right h1{
      font-size: 1.5vh;
      line-height: 1.6vh;
      margin-top: 1%;
    }
    .AboutmeContainer .right h3{
      font-size: 1.5vh;
      line-height: 1.6vh;
      margin-top: 1%;
    }

}

.item{
    width: 300px;
    height: 300px;
    align-items: center;
    background-color: aquamarine;
}



/*About me Section*/
.AboutmeContainer{
    width: 100%;
    height: 120vh;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    background-color: var(--charcoal);
    text-align: center;
    padding-top: 50px;
    color: white;
    /*
    border-top: black 2px solid;
    */
}

.AboutmeContainer .leftside{
  width: 50%;
  height: 90%;
  margin-top: 50px;
  position: absolute;
  left: 0;
  
}
.AboutmeContainer .container{
  width: 100%;
  margin-top: 50px;
  height: 90vh;
}
.AboutmeContainer .right{
  background-color: black;
  -webkit-box-shadow: 0px 0px 32px 5px #000000; 
  box-shadow: 0px 0px 32px 5px #000000;
  line-height: 3vh;
  font-size: 2vh;
  border-radius: 20px;
  text-align: left;
  padding-left: 20px;
  display: inline;
}
.AboutmeContainer .left img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.AboutmeContainer p{
  margin: 0%;
}
.AboutmeContainer .rightside .skills{
  width: 80%;
  background-color: rgb(12, 12, 12);
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  border-radius: 10px;
}

.skills li{
  list-style: none;
  padding: 0;
  color: white;
  margin: 20px 0;
  padding-left: 20px;
  padding-top: 20px;
}

.skills h3{
  line-height: 2.1vh;
  font-size: 2vh;
}

.skills .bar{
  background-color: var(--charcoal);
  display: block;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  width: 90%;
  box-shadow: 0 0 10px var(--charcoal);
}

.skills .bar span{
  height: 5px;
  float: left;
  background-color: var(--columbia-blue);
}

.html {
  width: 0%;
}
.html::after{
  width: 80%;
}

.csharp{
  width: 0%;
}
.csharp::after{
  width: 90%;
}

.css{
  width: 0%;
}
.css::after{
  width: 70%;
}

.art{
  width: 0%;
}
.art::after{
  width: 50%;
}

.unity{
  width: 0%;
}
.unity::after{
  width: 85%;
}

.dutch{
  width: 0%;
}
.dutch::after{
  width: 95%;
}
.english{
  width: 0%;
}
.english::after{
  width: 65%;
}

@keyframes html {
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes csharp{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

@keyframes art{
  0%{
    width: 0%;
  }
  100%{
    width: 50%;
  }
}

@keyframes unity{
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}

@keyframes dutch{
  0%{
    width: 0%;
  }
  100%{
    width: 95%;
  }
}

@keyframes english{
  0%{
    width: 0%;
  }
  100%{
    width: 65%;
  }
}

/*Portfolio galery*/

.portfoliotitle{
  font-weight: bold;
  color: white;
}
.porfolioGalery{
  background-color: var(--morning-blue);
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  width: 100%;
  height: 110vh;
  font-size: 20px;
  padding-top: 20px;
  color: white;
}
.portfolioinformation{
  position: relative;
  width: 100%;
  height: 20vh;
}
.porfolioGalery .leftside{
  position: absolute;
  left: 10%;
  width: 30%;
  background-color: rgb(103, 128, 126);
  border-radius: 20px;
  padding: 1%;
  margin-top: 2%;
}
.porfolioGalery .rightside{
  position: absolute;
  right: 10%;
  width: 30%;
  background-color: rgb(103, 128, 126);
  border-radius: 20px;
  padding: 1%;
  margin-top: 2%;
}
.portfoliocontent{
  width: 100%;
  height: 70vh;
}

.cards{
  position: absolute;
  width: 100%;

}




