@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
/* CSS HEX */
--charcoal: #2A4C58ff;
--hunter-green: #3E5536ff;
--columbia-blue: #C2DBEAff;
--alice-blue: #E2EEF6ff;
--morning-blue: #819F9Dff;
}

*{
    margin: 0;
    padding: 0;
}
ul{
    padding:0;
}
body {
    overflow-x: hidden;
}

.title{
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}
.TopContainer{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        var(--charcoal),
        rgba(232, 168, 124, 0.4), 
        var(--charcoal)
        ),
    url('../images/Background-top.png') center no-repeat;
    background-size: cover;
    min-height: 500px;
}
nav{
    background: rgba(62, 85, 54, 0.8);
    color: #fff;
    display: flex;
    justify-content: space-between;

    text-align: center;

}
.navbar{
    height: 10vh;
}
/*
.navbar{
    -webkit-box-shadow: 1px 37px 38px 20px rgba(62, 85, 54, 0.66) !important; 
    box-shadow: 1px 37px 38px 20px rgba(62, 85, 54, 0.66) !important;
}
*/
nav .mainMenu{
    display: inline-flex;
    list-style: none;
    margin: 0%;
}
nav .mainMenu li a{
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;

}
nav .mainMenu li a:hover{
    background-color: rgb(255, 94, 0);
}
nav .title{
    font-size: 25px;
    cursor: pointer;
}

nav .hamburger-menu{
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.hamburger-menu{
    width: 35px;
    cursor: pointer;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav .hamburger-menu{
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.line{
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: all 0.8s;
    background-color: var(--morning-blue);
}
.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);

}
.change .line-2{
    opacity: 0;
}
.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
}
/*Center Image and text*/

.centercontainer{
    width: 100%;
    height: auto;
    padding-top: 10vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.imagecontainer{
    width: 50%;
    height: 100%;
    left: 50%;
    margin-left: -25%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.imagecontainer img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.centercontainer h1{
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(129, 159, 157, 0.4);
    width: 550px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


/*Scroll icon*/

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;

}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  bottom: 10px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

/* MobileVersion */
@media(max-width: 800px){
  *{
    width: 100%;
  }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: -100%;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: flex;
        transition: cubic-bezier(1s, 0s, 0s 1s);
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
    nav .hamburger-menu {
        font-size: 20px;
        display: flex !important;
        cursor: pointer;
        color: #E2EEF6;
        z-index: 11;
        top: 0px;

        margin: 0px;
        margin-right: 10px;
    }
    .navbar{
        position: fixed;
        width: 100%;
        z-index: 11;
        text-align: center;
        margin: 0%;
    }
    .navbar .title h1{
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
    }
    .centercontainer{
        padding-top: 30vh;
    }

}

.item{
    width: 300px;
    height: 300px;
    align-items: center;
    background-color: aquamarine;
}



/*About me Section*/
.AboutmeContainer{
    width: 100%;
    height: 400px;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}


